{% extends "base.html" %}

{% block content %}

    <div class="column is-5 is-offset-4">
        <h3 class="title is-3">2 Factor Authentication Setup</h3>
        <div class="box">

         <p>To set up 2-factor authentication under the account name {{ username }},
         scan the QR code with your phone's authenticator app</p>
         <p><img src="{{ qrcode(uri, box_size=5, border=5)}}"></p>
            <p>Once set up, please go to the <a href="{{ url_for('users.login') }}"><u>Login</u></a> page</p>

        </div>

    </div>

{% endblock %}